%p.form-helper
  - if channel == 'Facebook'
    In the client's Facebook Ads Manager, hover on the campaign name and click 'Edit', copy the Campaign ID from right hand side slide out panel
  - if channel == 'Twitter'
    In the client's Twitter Ads Manager account, hover over the settings icon next to the campaign name and click 'Edit campaign', copy th campaign id displayed in the URL