.clients {
  margin-top: 2rem;

  &-header {
    text-transform: uppercase;
    letter-spacing: .2rem;

    font-size: 1.5rem;
    font-weight: 700;

    border-bottom: 1px solid #9EC73A;
    display: inline-block;
    margin-botton: 1.5rem;
  }

  &-name {
    list-style-type: none;
    letter-spacing: .1rem;
    font-weight: 500;
    margin-bottom: .3rem;
  }

  &-box {
    margin-top: 2rem;
  }

  &-button {
    background-color: white;
    border: 3px solid #9EC73A;
    color: black;
    font-weight: 500;
  }
}

.addClient {
  padding-top: 2rem;
}

.showClient {
  padding-top: 2rem;
}

.editClient {
  padding-top: 2rem;
}

.client-back {
  margin-top: 1rem;
}

.client-link {
  color: #000;
}

.client-link:hover {
  color: $btn-color;
}