.top-bar {

  background-color: black;

}

#client-button {

    @include breakpoint(small only) {
      width: auto;
    }
    
}

.homeForm {

  margin-top: 3rem;
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
  padding: 3rem;

  @include breakpoint(medium only) {
    width: 60%;
    margin-left: 20%;
  }

  @include breakpoint(small only) {
    width: 90%;
    margin-left: 5%;
  }


}