.top-bar {
  background-color: black;

  &-button {
    text-transform: uppercase;
    letter-spacing: $btn-spacing;

    font-size: $btn-font-size;
    font-weight: 500;

    border: $btn-topbar-border;
    background-color: $btn-background;
    color: $btn-color;

    transition: $btn-background-transition;

    &:hover{
      color: $btn-background;
      background-color: $btn-color;
    }
  }
}

#client-button {
    @include breakpoint(small only) {
      width: auto;
    }
}

.homeForm {

  margin-top: 3rem;
  border: 1px solid black;
  width: 50%;
  margin-left: 25%;
  padding: 3rem;

  @include breakpoint(medium only) {
    width: 60%;
    margin-left: 20%;
  }

  @include breakpoint(small only) {
    width: 90%;
    margin-left: 5%;
  }

  &-header {
    text-transform: uppercase;
    letter-spacing: .2rem;
    font-size: 1.5rem;
    font-weight: 700;
    border-bottom: 1px solid #9EC73A;
    margin-botton: 1rem;
    display: inline-block;
  }

  &-submit {
    text-transform: uppercase;
    letter-spacing: $btn-spacing;

    font-size: $btn-font-size;
    font-weight: 500;

    border: $btn-topbar-border;
    background-color: $btn-background;
    color: $btn-color;

    transition: $btn-background-transition;
    
    &:hover {
      color: $btn-background;
      background-color: $btn-color;
    }
  }
}