.searched {

  margin-top: 3rem;
}

.report {

  &-current {
    margin-bottom: 1rem;
  }

  &-generating {
    border: 1px solid black;
    padding: .5rem;
    margin-bottom: .5rem;
    list-style-type: none;

    &-title {
      display: inline;
    }

    &-info {
      display: inline;
    }

    &-time {
      margin-bottom: .2rem;
    }
  }
}

.metric {
  
  text-align: center;
  border-right: 1px solid #e5dede;
}