.row
  .small-12.columns.searched
    %h2 All reports
.row
  .small-12.columns
    %table
      %thead
        %tr
          %th Report title
          %th Link
      %tbody
        - @reports.each do |report|
          %tr
            %td= report.title
            %td -

    