%p.form-helper
  - if channel == 'Twitter'
    Log in to your Twitter account, click the account name in the top right and go to 'Account settings', copy the unique ID displayed below the form for naming your account
  - elsif channel == 'Adwords'
    In your AdWords dashboard on the 'Accounts' page, copy the unique ID displayed under the relevant account name
  - elsif channel == 'Facebook' || 'Instagram'
    Select an account on your Facebook Business Manager account. Copy the account ID from next to the account name or from the URL, make sure you add 'acc_' before the number

