%p.form-helper
  - if channel == 'Facebook'
    Select an account from the dropdown menu in the top left hand corner of your Facebook Ad Account. Copy the account ID as it appeaars next to the account name, or from the URL
  - if channel == 'Twitter'
    Log in to your Twitter account, click the account name in the top right and go to 'Account settings', copy the unique ID displayed below the form for naming your account